@model IEnumerable<FinalProject.Models.Summary>


<div id="doctors">
    <h3>Summaries List for @ViewBag.id</h3>


    <table id="form-table" class="form-group">
        <tr>
            <th>
                <label class="control-label col-md-2">Reported On</label>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.timeStamp)
                </td>

                <td>
                    @Html.ActionLink("Details", "summaryDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>