@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<body>

<h2>Login</h2>

<form action="/Home/Login">


  <div class="container">
    <label><b>ID</b></label>
    <input type="text" placeholder="Please enter your ID" name="customerID" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Please enter Password" name="password" required>
        
    <button type="submit">Login</button>
   
  </div>

</form>

</body>
</html>