@model FinalProject.Models.User

@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/bundles/jquery")

<title>Send Symptoms</title>

<form action="/Patients/Done" method="POST" name="myForm" id="myForm">
 
    <h3>Please fill in your Medical Symptoms:</h3>
            <table id="form-table" class="form-group">
                <tr>
                    <td><label class="control-label col-md-2" for="bodyTempreture">Body Tempreture:</label></td>
                    <td><input class="form-control" type="text" name="bodyTempreture" id="bodyTempreture"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="headAche">Head Ache:</label></td>
                    <td><input type="checkbox" name="headAche" id="headAche" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="stomachAche">Stomach Ache:</label></td>
                    <td><input type="checkbox" name="stomachAche" id="stomachAche" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="soreThroat">Sore Throat:</label></td>
                    <td><input type="checkbox" name="soreThroat" id="soreThroat" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="earsAche">Ears Ache:</label></td>
                    <td><input type="checkbox" name="earsAche" id="earsAche" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="urinalPain">Urinal Pain:</label></td>
                    <td><input type="checkbox" name="urinalPain" id="urinalPain" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="diarriah">Diarriah:</label></td>
                    <td><input type="checkbox" name="diarriah" id="diarriah" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="vomiting">Vomiting:</label></td>
                    <td><input type="checkbox" name="vomiting" id="vomiting" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="pregnancy">Pregnancy:</label></td>
                    <td><input type="checkbox" name="pregnancy" id="pregnancy" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="shortnessOfBreath">Shortness of Breath:</label></td>
                    <td><input type="checkbox" name="shortnessOfBreath" id="shortnessOfBreath" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="runningNose">Running Nose:</label></td>
                    <td><input type="checkbox" name="runningNose" id="runningNose" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="soreMuscles">Sore Muscles:</label></td>
                    <td><input type="checkbox" name="soreMuscles" id="soreMuscles" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="chestPain">Chest Pain:</label></td>
                    <td><input type="checkbox" name="chestPain" id="chestPain" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="fatigue">Fatigue:</label></td>
                    <td><input type="checkbox" name="fatigue" id="fatigue" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="weightLoss">Weight Loss:</label></td>
                    <td><input type="checkbox" name="weightLoss" id="weightLoss" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="dizzyness">Dizzyness:</label></td>
                    <td><input type="checkbox" name="dizzyness" id="dizzyness" value="true"></td>
                </tr>
                <tr>
                    <td><label class="control-label col-md-2" for="lossOfApetite">Loss Of Apetite:</label></td>
                    <td><input type="checkbox" name="lossOfApetite" id="lossOfApetite" value="true"></td>
                </tr>
            </table> 
        
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-default" value="Submit" type="submit">
        </div>

</form>



<script>

        $('#myForm').submit(function (e) {

            e.preventDefault();

             var userID = '@Model.userID';
        var date = new Date();
        var currentDate = date.toLocaleString();
        var token = "ABRAKADABR@1237";
        var formData = $("#myForm").serializeArray();
        var formDataObject = {};
        $.each(formData, function () {
            if (formDataObject[this.name]) {
                if (!formDataObject[this.name].push) {
                    formDataObject[this.name] = [formDataObject[this.name]];
                }
                formDataObject[this.name].push(this.value || '');
            } else {
                formDataObject[this.name] = this.value || '';
            }
        });
        var postData = { "token": token, "userID": userID, "timestamp": currentDate, "data": formDataObject };
        var Data= JSON.stringify(postData);

            $.ajax({
                type: "POST",
                url: "http://193.106.55.122/post",
                data: Data,
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    window.location.href = "/yoyag/Patients/Done";
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
                dataType: "json",
                contentType: "application/json"
            });
        });
</script>




