
<div id="notification">
    <form id="login-form" method="post">

        <h3>Please write your symptoms here:</h3>

        <div class="form-group">
            <textarea class="scrollabletextbox" type="text" value="" name="note"></textarea>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>





