@model FinalProject.Models.User

@{
    ViewBag.Title = "StringCreate";
}

@Scripts.Render("~/bundles/jquery")


<div id="notification">
    <form id="patient-form" name="myform" method="POST" action="/Patients/StringCreate">

        <h3>Please write your symptoms here: </h3>

        <div class="form-group">
            <textarea name="text-area" id="text-area" class="scrollabletextbox" type="text" value=""></textarea>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>



<script>

    $('#patient-form').submit(function (e) {

            e.preventDefault();

        var userID = '@Model.userID';
        var date = new Date();
        var currentDate = date.toLocaleString();
        var token = "ABRAKADABR@1237";
        var formData = document.getElementById("text-area").value;
        var postData = { "token": token, "userID": userID, "timestamp": currentDate, "data": formData };

        var Data= JSON.stringify(postData);
        console.log(Data);

            $.ajax({
                type: "POST",
                url: "/yoyag/Patients/SendToServer",
                data: Data,
                success: function () {
                    console.log('Submission was successful.');
                    window.location.href = "/yoyag/Patients/Done";
                },
                error: function () {
                    console.log('An error occurred.');
                },
                contentType: "application/json"
        });
        });
</script>